body {
  background-color: #afb5c7;
  font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  background-color: #0055bf;
  width: 100%;
}

.App {
  text-align: center;
}

.navlink {
  margin: 7px;
  color: #ffffff;
}

.brandLink {
  color: #b4d2e3;
}

button {
  background-color: #6c6e68;
  color: #ffffff;
  border: none;
  height: 40px;
  width: 80px;
}

a {
  color: #0055bf;
}

.comicImg {
  max-width: 95%;
  max-height: 500px;
  border: black solid 1px;
}

.navButton {
  width: 70px;
  margin: 2px;
  margin-top: 5px;
  text-align: center;
}

.navRow {
  width: 420px;
  max-width: 100%;
  margin: auto;
}

.navCol {
  margin-right: 0px;
  margin-left: 0px;
}

.aboutText {
  text-align: left;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 5px;
  border: black solid 1px;
}

.pageText {
  text-align: left;
  padding: 5px;
}

.copyright {
  margin-top: 10px;
}

li {
  list-style: none;
}

.pageNotFound-img {
  width: 350px;
  border: black solid 1px;
}
