.App {
  text-align: center;
}

.navlink {
  margin: 3px;
}

.comicImg {
  max-width: 60%;
  max-height: 500px;
}

.navButton {
  width: 80px;
  margin: 5px;
}

.navRow {
  width: 420px;
  margin: auto;
}

.aboutText {
  text-align: left;
}

.container {
  max-width: 800px;
  margin: auto;
}

.pageText {
  text-align: left;
}

li {
  list-style: none;
}
